h2{
    color:green
}
li{
    color: gray;
    padding: 10px;
}
.error{
    background-color: pink;
    color:brown;
    padding: 10px;
    font-size: 20px;
    border: 5px rgb(206, 110, 21) solid;
    
}
.succes{
    background-color: rgb(66, 192, 140);
    color:snow;
    padding: 10px;
    font-size: 20px;
    border: 5px rgba(2, 20, 2, 0.678) solid;
}
body{
    font-style:initial;
}
.colpadding{
    padding-top: "50px";
}